body {
	padding-top: 30px;
	color: #FFFFFF;
	font-family: "robotoregular";
}

.navbar-inverse {
	background-color: #212121;
}

#nav > .container-fluid > .navbar-header > .navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  color: #FFFFFF;
}

.gray-text {
	color: #9E9E9E;
}

#home {
	background-color: #212121;
}

#projects {
	background-color: #43A047;
	margin-top: -10px;
}

#contact > h1 {
	color: #43A047;
	font-weight: 100;
}

#contact > h2 {
	color: #000000;
}

#home,
#projects,
#contact {
	min-height: 100vh;
	padding-top: 30vh;
	padding-left: 10px;
	padding-right: 10px;
}

#home > h1,
#projects > h1,
#contact > h1 {
	font-family: "robotothin";
	font-size: 5em;
}

#home > h2,
#projects > h2,
#contact > h2 {
	font-size: 1.5em;
	font-weight: 100;
}

#contact > h2 > a:link,
#contact > h2 > a:visited,
#contact > h2 > a:active {
	text-decoration: none;
	color: #000000;
}

#contact > h2 > a:hover {
	color: #43A047;
}

#dave {
	color: #43A047;
}

#footer > .container-fluid > .navbar-nav > li > a:link,
#footer > .container-fluid > .navbar-nav > li > a:visited,
#footer > .container-fluid > .navbar-nav > li > a:active {
	color: #9D9D9D;
}

#footer > .container-fluid > .navbar-nav > li > a:link,
#footer > .container-fluid > .navbar-nav > li > a:visited,
#footer > .container-fluid > .navbar-nav > li > a:active {
	color: #9D9D9D;
}

#footer > .container-fluid > .navbar-nav > li > #twitter:hover {
	color: #00ACED;
}

#footer > .container-fluid > .navbar-nav > li > #facebook:hover {
	color: #3B5998;
}

#footer > .container-fluid > .navbar-nav > li > #linkedin:hover {
	color: #007BB6;
}

#footer > .container-fluid > .navbar-nav > li > #google-plus:hover {
	color: #DD4B39;
}

